<% include ./partials/header.ejs %>

<div class="ui main text container segment">
  <h1 class="ui huge header">New Blog</h1>
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label>Title</label>
      <input required type="text" name="blog[title]" placeholder="Title">
    </div>
    <div class="field">
      <label>Image</label>
      <input type="text" name="blog[image]" placeholder="Image URL">
    </div>
    <div class="field">
      <label>Blog Content</label>
      <textarea required name="blog[body]" placeholder="Blog post content goes here"></textarea>
    </div>
    <input class="ui blue big basic button" type="submit">
  </form>
</div>

<% include partials/footer %>
