<% include partials/header %>

<h1>This is the campgrounds page!</h1>

<% campgrounds.forEach((campground)=> { %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>" 
             alt="Image of <%= campground.name %>" 
             style="width:100px;">
    </div>
<% }); %>

<% include partials/footer %>
