<% include partials/header %>

<header class="jumbotron">
    <h1>Welcome to YelpCamp!</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
    </p>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% campgrounds.forEach((campground)=> { %>
        <div class="col-md-3 col-sm-6"><!-- default fallback for extra small is 12 units -->
            <div class="thumbnail card" style="margin-bottom:10px;">
                <img src="<%= campground.image %>" 
                     alt="Image of campground <%= campground.name %>" 
                     style="height:100px; object-fit:cover;">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<% include partials/footer %>
