p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
}

#title {
	width: 30%;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;
}

.image-container {
	width: 30%;
	overflow: hidden;
	float: left;
	margin: 1.66%;
	border-radius: 20px 0 0 0;
}

img {
	display:block;
	margin: -10% -30% -90% -10%;
	width:177.777%;
}