#image-section p,
#title {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
}

#title {
	width: 30%;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;
}

#image-section .image-container {
	width: 30%;
	overflow: hidden;
	float: left;
	margin: 1.66%;
	border-radius: 20px 0 0 0;
}

#image-section img {
	display:block;
	margin: -10% -30% -90% -10%;
	width:177.777%;
}

#words-section {
	border: 20px solid grey;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}

#words-section /* instead of #words-section h1, #words-section p */
{
	font-family: Source Sans Pro;
}
