table {
	border-spacing: 0;
}

td {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-width: 0 10px 10px 0;
	margin: 0;
	background: slategrey;
}

td:nth-of-type(3) {
	border-right: 0;
}

tr:last-of-type td {
	border-bottom: 0;
}